<%- include('includes/head.ejs') %>
    </head>
    <%- include('includes/navigation.ejs')%>
    <body>
        <h1>Congratulations My Friend</h1>
        <p>You've dared to look inside the place where no-one dares to look</p>
    <%- include('includes/end.ejs')%>


