
.product-form{
    width: 20rem;
    max-width: 80%;
    margin: 0 10px 10px 10px;
}

.form-control{
    margin : 1rem 0;
}

.form-control label,
.form-control input{
    display: block;
}

.form-control input{
    border: 1.5px solid rgb(8, 102, 47);
    font: inherit;
    border-radius: 2px;
}

.button{
    font: inherit;
    border: 1px solid rgb(8, 102, 47);
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover,
.button:active{
    background-color: rgb(148, 172, 17);
    color: rgb(8, 102, 47);
}